.header {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: #1074CC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.326);
}

.img {
    width: 150px;
    margin: 0 35px 0 0;
}

.icon {
    width: 24;
    margin: 0 8px 0 12px;
}